body {
    font-family: 'Caveat', cursive;
    margin: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 25px;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding: 2%;
}

.half-width img {
    width: 100%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 900;
}

#section-1 {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

#section-2 {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}